.promo
    position: relative
    height: 100vh
    padding-top: 100px
    &__img
        position: absolute
        width: 750px
        height: 650px
        top: 0
        right: 0
        z-index: -1
        img
            width: 100%
            height: 100%
    &__title
        width: 530px
        font-family: Marcellus
        font-weight: 400
        font-size: 80px
        line-height: 73px
        color: #FFFFFF
    &__info
        display: flex
        align-items: center
        margin-top: 32px
        &-text
            display: flex
            align-items: center
            font-family: Mulish
            font-weight: 800
            font-size: 16px
            line-height: 10px
            color: #FFFFFF
            img
                margin-left: 12px
            &:nth-child(n+3)
                margin-right: 18px
        &-age
            border-radius: 50px
            padding: 6px 15px
            border: 1.5px solid #26FFF2
            font-family: Mulish
            font-weight: 800
            font-size: 16px
            color: #FFFFFF
            margin: 0 18px
    &__text
        width: 507px
        font-family: Mulish
        font-weight: 400
        font-size: 18px
        line-height: 28px
        color: #C2C2C2
        margin-top: 25px
    &__btns
        display: flex
        align-items: center
        margin-top: 35px