.enter
    padding: 80px 0
    position: relative
    &__title
        font-family: Mulish
        width: 530px
        font-weight: 700
        font-size: 40px
        line-height: 50px
        color: #FFFFFF
    &__info
        margin-top: 50px
    &__text
        width: 510px
        font-family: Mulish
        font-weight: 400
        font-size: 20px
        line-height: 28px
        color: #C2C2C2
    &__btn
        width: 240px
        height: 60px
        font-size: 20px
        margin-top: 30px
        margin-left: 0
        a
            color: #323232
    &__bg
        position: absolute
        top: -80px
        right: 0
        z-index: -1
    &__step
        &-second
            margin-top: 40px