.enter
    padding: 80px 0
    position: relative
    &__title
        font-family: Mulish
        width: 530px
        font-weight: 700
        font-size: 40px
        line-height: 50px
        color: #FFFFFF
    &__info
        margin-top: 50px
    &__text
        width: 510px
        font-family: Mulish
        font-weight: 400
        font-size: 20px
        line-height: 28px
        color: #C2C2C2
        &:nth-child(n+2)
            margin-top: 40px
    &__btn
        width: 240px
        height: 60px
        font-size: 20px
        margin-top: 30px
        margin-left: 0
        a
            color: #323232
    &__bg
        position: absolute
        top: -80px
        right: 0
        z-index: -1

.profile
    padding: 80px 0
    min-height: 55vh
    position: relative
    &__title
        font-family: Mulish
        font-weight: 700
        font-size: 40px
        line-height: 50px
        color: #FFFFFF
        text-align: center
    &__btn
        width: 240px
        height: 60px
        font-size: 20px
        margin-left: 0px
        margin: 0 auto
        margin-top: 30px
    &__item
        background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%)
        display: flex
        justify-content: center
        align-items: center
        width: 340px    
        height: 198px
        border-radius: 20px
        cursor: pointer
        margin-top: 25px
        &-name
            font-family: Mulish
            font-weight: 700
            font-size: 28px
            text-align: center
            color: #FFFFFF