.search
    padding-top: 80px
    form
        display: flex
        justify-content: center
        align-items: center
    &__input
        height: 75px
        width: 950px
        background-color: #fff
        filter: drop-shadow(17px 17px 20px rgba(0, 0, 0, 0.3))
        font-family: Mulish
        font-weight: 800
        font-size: 24px
        color: #323232
        padding: 0 15px
    &__btn
        height: 65px
        width: 65px
        border: none
        background-color: transparent
        cursor: pointer
    &__title
        font-family: Mulish
        font-weight: 700
        font-size: 36px
        line-height: 20px
        color: #fff
        margin-top: 60px
    &__grid
        display: grid
        grid-template-columns: repeat(5, 206px)
        grid-template-rows: repeat(auto, 309px)
        gap: 50px
        justify-content: center
        margin-top: 50px
        